{% extends "@layout/default.html.twig" %}
{% block content %}
    <div class="row">
        <div class="box">
            <div class="box-body">
                <a class="btn btn-app" href="{{ path('campaign.create') }}">
                    <i class="fa fa-plus-circle"></i> Novo
                </a>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th style="width: 10px;">#</th>
                            <th style="width: 20%;">Nome</th>
                            <th style="width: 45%;">Assunto</th>
                            <th>Ações</th>
                        </tr>
                        {% for campaign in campaigns %}
                            <tr>
                                <td>{{ campaign.id }}</td>
                                <td>{{ campaign.name }}</td>
                                <td>{{ campaign.subject | slice(0, 35)}}...</td>
                                <td>
                                    <a href="{{ url('campaign.sender', {id: campaign.id}) }}">Enviar</a> |
                                    <a href="{{ url('campaign.update', {id: campaign.id}) }}">Editar</a> |
                                    <a href="{{ url('campaign.delete', {id: campaign.id}) }}">Excluir</a>|
                                    <a href="{{ url('campaign.report', {id: campaign.id}) }}">Report</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Listagem de Campanhas - {{ parent() }}
{% endblock %}

{% block page_header %}
    Listagem de Campanhas
{% endblock %}